<div id="magazine" style="margin : auto auto ">
  <div>
    <img src="assets/1.jpg" alt="loading">

  </div>
  <div>
    <img src="assets/2.jpg" alt="loading">
  </div>
  <div>
    <img src="assets/3.jpg" alt="loading">
  </div>
  <div>
    <img src="assets/4.jpg" alt="loading">
  </div>

  <input type="hidden" id="page_count" value="<%= @count %>">

</div>


<script type="text/javascript">

    var beforehand_load_page_count = 4;
    var page_difference_of_beforehand_load = 3


    $(window).ready(function () {
        console.log(get_device())
        $('#magazine').turn({
            width: 1152,
            height: 752,
            display: 'double',
            acceleration: true,
            gradients: !$.isTouch,
            elevation: 50,
            when: {
                turning: function (e, page, view) {

                },
                turned: function (e, page) {
                    beforehand_load.call(this);

                }
            }
        });
    });


</script>